* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: visible;
  color: white;
}

a {
  color: #8b9298;
  text-decoration: none;
}

p {
  color: white;
}

.loader {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 15px dotted #3d8bff;
  -webkit-filter: drop-shadow(0px 0px 5px white);
          filter: drop-shadow(0px 0px 5px white);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 1;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(-40deg);
            transform: translate(-50%, -50%) rotate(-40deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(1turn);
            transform: translate(-50%, -50%) rotate(1turn);
    opacity: 1;
  }
  90% {
    -webkit-transform: translate(-50%, -50%) rotate(1turn);
            transform: translate(-50%, -50%) rotate(1turn);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-5000px, -50%) rotate(1turn);
            transform: translate(-5000px, -50%) rotate(1turn);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(-40deg);
            transform: translate(-50%, -50%) rotate(-40deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(1turn);
            transform: translate(-50%, -50%) rotate(1turn);
    opacity: 1;
  }
  90% {
    -webkit-transform: translate(-50%, -50%) rotate(1turn);
            transform: translate(-50%, -50%) rotate(1turn);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-5000px, -50%) rotate(1turn);
            transform: translate(-5000px, -50%) rotate(1turn);
    opacity: 0;
  }
}

@-webkit-keyframes blur {
  from {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  to {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes blur {
  from {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  to {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

body {
  background-color: #1d1d20;
  font-family: 'Courier New', Courier, monospace;
  -webkit-animation-name: body_loader;
          animation-name: body_loader;
}

header {
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-name: blur;
          animation-name: blur;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: #111213;
  width: 100vw;
  height: 80px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: 0px 0.2px 10px #3d8bff;
          box-shadow: 0px 0.2px 10px #3d8bff;
}

header:hover {
  -webkit-box-shadow: 0px 2px 20px #3d8bff;
          box-shadow: 0px 2px 20px #3d8bff;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3%;
  margin-right: 3%;
}

.nav i {
  margin-right: 10px;
  opacity: 0.5;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 60%;
  color: #c1c5c8;
  color: white;
  font-weight: bold;
  list-style-type: none;
}

.nav ul li {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 78px;
  cursor: pointer;
  margin-right: 2%;
  width: 150px;
  text-align: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}

.nav ul li:hover {
  border-bottom: 2px solid #3d8bff;
  color: #3d8bff;
  font-weight: bolder;
}

.nav .account {
  width: 40%;
}

.nav h2 {
  position: relative;
  text-align: right;
  cursor: pointer;
  line-height: 78px;
  width: 50px;
  color: white;
  width: auto;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}

.nav h2:hover {
  border-bottom: 2px solid #3d8bff;
  color: #3d8bff;
  font-weight: bolder;
}

li:nth-child(1):hover .links_account {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

.links_account {
  border-left: 2px dashed #3d8bff;
  border-bottom: 2px dashed #3d8bff;
  position: absolute;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  width: 200px;
  height: 350px;
  top: 88px;
  left: 0;
  background-color: #111213;
  z-index: 1000;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.links_account a {
  height: 20%;
}

.links_account a:hover {
  background-color: #0042a3;
  color: wheat;
  border-bottom: 2px solid #3d8bff;
}

.portefeuille_account {
  border-right: 2px dashed #3d8bff;
  border-bottom: 2px dashed #3d8bff;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  height: 140px;
  width: 300px;
  position: absolute;
  background-color: #111213;
  right: 0;
  top: 88px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  z-index: 10;
}

.portefeuille_account a {
  height: 50%;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.portefeuille_account a:hover {
  background-color: #0042a3;
  color: wheat;
  border-bottom: 2px solid #3d8bff;
}

h2:hover .portefeuille_account {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

main {
  -webkit-animation-name: blur;
          animation-name: blur;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main > div:not(.asset) {
  -webkit-box-shadow: 1px 1px 2px white;
          box-shadow: 1px 1px 2px white;
  border-radius: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

main > div:not(.asset):hover {
  -webkit-box-shadow: 2px 2px 10px #3d8bff;
          box-shadow: 2px 2px 10px #3d8bff;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.profil {
  width: 26vw;
  height: 500px;
  background-color: #111213;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profil .photo {
  padding: 10px;
  width: 100%;
  height: 50%;
}

.profil .details {
  border-top: 1px solid white;
  padding: 10px;
  width: 100%;
  height: 50%;
}

.profil .details ul {
  list-style-type: none;
}

.profil .details li {
  margin-top: 10px;
}

.profil .details i {
  margin-right: 2%;
  opacity: .4;
}

.transactions {
  width: 34vw;
  height: 500px;
  background-color: #111213;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.transactions__header {
  padding-left: 20px;
  padding-right: 20px;
  height: 15%;
  width: 100%;
  border-bottom: 1px solid #7e7e8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transactions__header a {
  color: #3d8bff;
}

.transactions__header a:hover {
  color: #70a9ff;
}

.transactions__list {
  height: 85%;
  width: 100%;
}

.asset {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.asset_item.add_asset {
  border-radius: 10px;
  border: 3px dotted #4d4d56;
  cursor: pointer;
  width: 70%;
  background-color: #111213;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.asset_item.add_asset:hover {
  border-color: #3d8bff;
}

.asset_item.add_asset:hover p {
  color: #3d8bff;
}

.asset_item.add_asset:hover span {
  color: #3d8bff;
}

.asset_item.add_asset p {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: white;
  text-align: center;
  line-height: 150px;
}

.asset_item.add_asset p span {
  font-size: 32px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.asset_item {
  width: 48%;
  height: 150px;
  background-color: #111213;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.asset_item .crypto {
  height: 70%;
  width: 100%;
  background-color: green;
}

.asset_item .list_btn {
  height: 30%;
  width: 100%;
  background-color: violet;
}

@media (max-width: 1600px) {
  .asset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .asset_item {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (max-width: 1080px) {
  header nav {
    display: none;
    visibility: hidden;
  }
  header h2 {
    display: none;
    visibility: hidden;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main > div {
    -webkit-box-shadow: 1px 1px 2px white;
            box-shadow: 1px 1px 2px white;
    border-radius: 20px;
    width: 80vw;
    margin-bottom: 50px;
  }
  main > div:hover {
    -webkit-box-shadow: 2px 2px 10px #3d8bff;
            box-shadow: 2px 2px 10px #3d8bff;
  }
  .transactions, .profil, .asset {
    width: 90vw;
  }
}
/*# sourceMappingURL=style.css.map */