@import "_variables.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: visible;
}

body{
    background-color: $gray;
    font-family:'Courier New', Courier, monospace;
}

header{
    background-color: $dark_gray;
    width: 100vw;
    height: 80px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 80px;
        width: 75%;
        color: lighten($dark_gray, 50%);
        list-style-type: none;
        li{
            position: relative;
            box-sizing: border-box;
            line-height: 78px;
            cursor: pointer;
            margin-right: 2%;
            width: 150px;
            text-align: center;
            transition-duration: 0.5s;
            transition-property: color;
            &:hover{
                border-bottom: 2px solid $survol;
                color: $survol;
                font-weight: bold;
            }
        }
    }
    .account{
        width: 15%;
    }
}

li:nth-child(1){
    &:hover .links_account{
        transform: scaleY(1);
        opacity: 1;
    }
}

.links_account{
    position: absolute;
    transform-origin: top;
    transform: scaleY(0);
    width: 200px;
    height: 350px;
    top: 88px;
    left: 0;
    background-color: $dark_gray;
    z-index: 1000;
    transition-duration: 0.5s;
    opacity: 0;
}