@import "_variables.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: visible;
    color: white;
}

a{
    color: lighten($dark_gray, 50%);
    text-decoration: none;
}

p{
    color: white;
}

html{
    scroll-behavior: smooth;
    // overflow: hidden;
}

// Création du loader
.loader{
    position: absolute;
    width:  200px;
    height: 200px;
    border: 15px dotted $survol;
    filter: drop-shadow(0px 0px 5px white);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: loader;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    z-index: 1;
}

@keyframes loader {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    20%{
        transform: translate(-50%, -50%) rotate(-40deg);
    }
    50%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        transform: translate(-50%, -50%) rotate(0.5turn);
        opacity: 0;
    }
}

@keyframes blur {
    from{
        filter: blur(10px)
    }

    to{
        filter: blur(0px)
    }
}


body{
    background-color: $gray;
    font-family: 'Courier Prime', monospace;
    animation-name: body_loader;
    overflow: hidden;
}


header{
    position: relative;
    animation-fill-mode: backwards;
    animation-name: blur;
    animation-duration: 3s;
    animation-delay: 3s;
    background-color: $dark_gray;
    width: 100vw;
    height: 80px;
    transition-duration: 1s;
    box-shadow: 0px 0.2px 10px $survol;
    &:hover{
        box-shadow: 0px 2px 20px $survol;
    }
}

.navSmartphone{
    height: 100vh;
    min-height: 700px;
    width: 50vw;
    position: absolute;
    top: 0;
    background-color: $gray;
    transform: translateX(-100%);
    z-index: 10000;
    transition-duration: 0.5s;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    .returnLeft, .returnRight{
        height: 10%;
        font-size: 50px;
        @extend %center_flex;
        cursor: pointer;
        border-bottom: 2px solid gray;
        background-color: darken($gray, 3%);
    }
    ul{
        height: 90%;
        font-size: 30px;
        list-style-type: none;
        margin-top: 50px;
        padding-left: 30px;
        i{
            margin-right: 40px;
            transform: rotate(15deg);
        }

        li{
            height: 13%;
            cursor: pointer;
            &:hover{
                color: $survol;
            }
        }
    }
}

.navSmartphoneRight{
    height: 100vh;
    width: 50vw;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translateX(100%);
    z-index: 10000;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    i{
        margin-right: 10px;
        opacity: 0.5;
        transition-duration: 0.5s;
        color: lighten($survol, 10%);
    }
    ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 80px;
        width: 60%;
        color: lighten($dark_gray, 70%);
        color: white;
        font-weight: bold;
        list-style-type: none;
        li{
            position: relative;
            box-sizing: border-box;
            line-height: 78px;
            cursor: pointer;
            margin-right: 2%;
            width: 150px;
            text-align: center;
            transition-duration: 0.5s;
            transition-property: color;
            &:hover{
                border-bottom: 2px solid $survol;
                color: $survol;
                font-weight: bolder;
            }
            &:hover i{
                margin-right: 20px;
            }
        }
    }
    .account{
        width: 40%;
    }

    h2{
        position: relative;
        text-align: right;
        cursor: pointer;
        line-height: 78px;
        width: 50px;
        color: white;
        width: auto;
        transition-duration: 0.5s;
        transition-property: color;
        &:hover{
            border-bottom: 2px solid $survol;
            color: $survol;
            font-weight: bolder;
        }
    }
}

li:nth-child(1){
    &:hover .links_account{
        transform: scaleY(1);
        opacity: 1;
    }
}

%center_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnNav{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 100;
    visibility: hidden;
    cursor: pointer;
}

.btnNav--Left{
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    @extend %center_flex;
    font-size: 40px;
}

.btnNav--Right{
    @extend %center_flex;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 40px;
}


.links_account{

    border-left: 2px solid $survol;
    border-bottom: 2px solid $survol;
    position: absolute;
    transform-origin: top;
    transform: scaleY(0);
    width: 200px;
    height: 350px;
    top: 80px;
    left: 0;
    background-color: $dark_gray;
    z-index: 1000;
    transition-duration: 0.5s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    a{
        height: 20%;
        &:hover{
            background-color: darken($survol, 30%);
            color: wheat;
            border-bottom: 2px solid $survol;
        }
    }
}

.portefeuille_account{

    border-right: 2px solid $survol;
    border-bottom: 2px solid $survol;
    transform-origin: top;
    transform: scaleY(0);
    height: 140px;
    width: 300px;
    position: absolute;
    background-color: $dark_gray;
    right: 0;
    top: 80px;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    opacity: 0;
    z-index: 10;
    a{
        height: 50%;
        width: 100%;
        text-align: center;
        font-size: 16px;
        &:hover{
            background-color: darken($survol, 30%);
            color: wheat;
            border-bottom: 2px solid $survol;
        }
    }
}

// Apparition du .portefeuille_account

h2:hover .portefeuille_account{
    transform: scaleX(1);
    opacity: 1;

}

// Contenu principal

main{
    animation-name: blur;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: both;
    display: flex;
    height: auto;
    padding: 40px;
    justify-content: space-between;
    
    & > div:not(.asset){
        box-shadow: 1px 1px 2px white;
        border-radius: 20px;
        transition-duration: 0.3s;

        &:hover{
            box-shadow: 2px 2px 10px $survol;
            transform: scale(1.02);
        }
    }

    & > div{
        animation-name: zoomDiv;
        animation-delay: 5s;
        animation-duration: 1s;
        animation-fill-mode: both;
    }

}

@keyframes zoomDiv {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.profil{
    width: 26vw;
    height: 500px;
    background-color: $dark_gray;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .photo{
        padding: 10px;
        width: 400%;
        height: 50%;
        transform: translateX(-0%);
        display: flex;  
        transition-duration: 1s;
        .crypto_logo{
            width: 25%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            @extend %center_flex
        }

        .img{
            background-size: cover;
            width: 200px;
            height: 200px;
            filter: drop-shadow(0 0 0.75rem rgb(161, 161, 161));
        }

        .crypto_logo--eth{
            .img{
                background-image: url('images/eth.png');
            }
        }
        .crypto_logo--xrp{
            .img{
                background-image: url('images/xrp.png');
                background-size: cover;
            }        }
        .crypto_logo--xdc{
            .img{
                background-image: url('images/xdc.png');
                background-size: cover;
            }        }
        .crypto_logo--btc{
            .img{
                background-image: url('images/btc.png');
                background-size: cover;
            }        
        }
    }

    .details{
        border-top: 1px solid white;
        padding: 10px;
        width: 100%;
        height: 50%;
        ul{
            list-style-type: none;
        }
        li{
            margin-top: 10px;
        }
        i{
            margin-right: 2%;
            opacity: .4;
        }
    }
}

.transactions{
    width: 34vw;
    height: 500px;
    background-color: $dark_gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__header{
        padding-left: 20px;
        padding-right: 20px;
        height: 15%;
        width: 100%;
        border-bottom: 1px solid lighten($gray, 40%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            color: $survol;
            &:hover{
                color: lighten($survol, 10%);
            }
        }
    }

    &__list{
        height: 75%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        div{
            position: relative;
            height: 20%;
            width: 95%;
            border-bottom: 1px solid white;
            margin: 0px auto 0px auto;
        }
        div:nth-child(5){
            border: none;
        }
    }

    i{
        font-size: 32px;
        position: absolute;
        display: block;
        right: 20px;
        bottom: 20px;
    }

    .time{
        font-style: italic;
        color: gray;
    }

    p:not(.time){
        cursor: pointer;
        &:hover{
            color: $survol;
        }
    }

}

.asset{
    width: 30vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.asset_item.add_asset{
    border-radius: 10px;
    border : 3px dotted lighten($gray, 20%);
    cursor: pointer;
    width: 70%;
    background-color: $dark_gray;
    transition-duration: 0.5s;
    
    &:hover{
        border-color: $survol;
    }
    &:hover p {
        color: $survol;
    }
    &:hover span {
        color: $survol;
    }

    p{
        transition-duration: 0.5s;
        color: white;
        text-align: center;
        line-height: 150px;
        font-size: 32px;
        span{
            font-size: 32px;
            transition-duration: 0.5s;
        }
    }
}

.asset_item{
    cursor: pointer;
    width: 45%;
    height: 150px;
    background-color: $dark_gray;
    display: flex;
    flex-direction: column;
    .crypto{
        height: 70%;
        width: 100%;
        background-color: $dark_gray;
        padding: 10px 0px 20px 20px;
        p{
            font-size: 30px;
        }
        p:nth-child(2){
            color: gray;
            font-style: italic;
            font-size: 25px;
        }
    }
    .list_btn{
        height: 30%;
        width: 100%;
        background-color: gray;
        display: flex;
        justify-content: space-around;
        align-items: center;
        div{
            width: 25%;
            border-right: 1px solid $gray;
            text-align: center;
            cursor: pointer;
            &:hover i{
                color: $survol;
            }
            i{
                color: $gray;
                text-align: center;
            }
        }
        div:nth-child(4){
            border: none;
        }
    }
    &:hover{
        box-shadow: 0px 0px 5px $survol;
    }
}


// Première adaptation responsive
@media (max-width: 1600px) { 
    .asset{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .asset_item{
        width: 100%;
        margin-bottom: 50px;
    }
    body{
        max-width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}


// Responsive ipad et smartphone
@media (max-width: 1080px) { 

    body{
        max-width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    header{
        nav{
            display: none;
            visibility: hidden;
        }
        h2{
            display: none;
            visibility: hidden;
        }
        .btnNav{
            visibility:visible;
        }
    }

    main{
        flex-direction: column;
        align-items: center;
        & > div:not(.asset){
            box-shadow: 1px 1px 2px white;
            border-radius: 20px;
            width: 80vw;
            margin-bottom: 50px;
    
            &:hover{
                box-shadow: 2px 2px 10px $survol;
            }
        }
    }
    .transactions, .profil, .asset{
        width: 90vw;
    }

    .transactions{
        i{
            bottom: 2px;
        }
        &__list p{
            font-size: 12px;
        }
    }
    .asset_item.add_asset{
        width: 90%;
    }

    .navSmartphone{
        visibility: visible;
        width: 50vw;
    }
}

@media (max-width: 500px) { 

    .navSmartphone{
        visibility: visible;
        width: 75vw;
        ul{
            font-size: 25px;
        }
    }

}